boto3==1.34.113
colorama==0.4.6
deepl==1.18.0
Flask==2.3.1
flask_api==3.1
pandas==2.2.2
pydantic==1.10.15
pymilvus==2.4.3
python-dotenv==1.0.1
Requests==2.32.3
milvus-model
FlagEmbedding
Werkzeug==2.3.0