.venv/
.env
__pycache__/
.vscode/settings.json
backend/german-agent-microservice/tmp/audio
.DS_Store
**/.vscode/
**/.DS_Store
backend/german-agent-microservice/src/out/*
backend/german-agent-microservice/src/agent_service/prompts/res/chromadb/*
backend/agent-microservice/src/out/*