boto3==1.34.113
colorama==0.4.6
deepl==1.18.0
Flask==3.0.3
flask_api==3.1
pandas==2.2.2
pydantic==1.10.15
pymilvus==2.4.3
python-dotenv==1.0.1
Requests==2.32.3
milvus-model==0.2.3
FlagEmbedding==1.2.2
TTS==0.22.0