boto3==1.34.113
colorama==0.4.6
deepl==1.18.0
Flask==2.3.1
flask_api==3.1
pandas
pydantic
pymilvus==2.4.3
python-dotenv==1.0.1
Requests==2.32.3
milvus-model
Werkzeug==2.3.0
flasgger
torch
FlagEmbedding>=1.2.2