langchain==0.1.19
langchain_community==0.0.38
langchain_core==0.1.52
langchain_experimental==0.0.58
langchain_openai==0.1.6
langchain_weaviate==0.0.1.post1
llama_parse==0.4.2
python-dotenv==1.0.1
weaviate_client==4.5.7
markdown
rank_bm25
unstructured==0.13.7
simsimd==3.7.7